* {
  margin: 0;
  padding: 0;
}
.menuActive {
  color: rgb(182, 88, 88);
}
.flex {
  display: flex;
}
.textCenter {
  text-align: center;
}
.validate {
  width: 90%;
  font-size: 0.8em;
  color: rgb(92, 4, 4);
}

/* CSS Above For General Use */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CSS Below For The Navbar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #864d4d;
  z-index: 999;
}
nav {
  width: 25vw;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
}
li > a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
li > a:hover {
  text-decoration: none;
  color: rgb(182, 88, 88);
}
main {
  margin-top: 70px;
}
/* CSS Above For The Navbar */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CSS Below For All the Form Sections */
#articleForm {
  width: 95vw;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
#articleForm > * {
  width: 95%;
  margin: 4px 10px;
}
#articleForm > label {
  font-size: 1.1em;
}
#articleForm > textarea {
  box-sizing: border-box;
  padding: 7px;
  font-size: 1.05em;
  resize: none;
  border: 2px solid black; /* Or choose a matching color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  line-height: 1.5;
  height: 590px;
}
.articleFormTitle {
  justify-content: space-between;
  align-items: center;
}
.articleFormSender {
  justify-content: space-between;
  align-items: start;
}
.articleFormSub > label {
  font-size: 1.1em;
}
.articleFormSub > button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
}
form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
form > label {
  font-size: 1.1em;
  width: 90%;
  padding: 5px 0;
}
form > input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 90%;
  height: 15px;
  padding: 13px 7px;
  background-clip: content-box;
}
form > select {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background: rgba(255, 255, 255, 0.2);
  padding: 13px 0;
}
form > input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(70, 68, 68);
  background: rgba(255, 255, 255, 0.2);
  background-clip: content-box;
}
form > button {
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  font-size: 1.2em;
  color: #ffff;
}
form > button:hover {
  background-color: rgba(138, 138, 138, 0.993);
  transition: 500ms;
  color: #000000;
}
form > * {
  padding: 5px 7px;
}
/* CSS Above  For All the Form Sections /

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CSS Below For Articles */
#content > h2 {
  margin-bottom: 20px;
  text-align: center;
}
.article {
  border: 1px solid rgb(255, 255, 255);
  margin: 10px 10px 7px 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.486) 0px 7px 29px 0px;
}
.article > * {
  padding: 5px 25px;
}
.article > p {
  margin-top: 9px;
  margin-bottom: 0;
}
.articleLink {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.articleMain {
  padding: 10px 0;
}
.previewParagraph {
  padding: 3px 0;
}
.articleTitle {
  border-color: rgb(29, 39, 29);
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 2 0 2px 0;
}
.articleMain > .mainParagraph {
  margin: 25px 0 3px 0;
  text-align: justify;
}
.articleMain > .mainParagraph:last-child {
  margin-bottom: 20px;
}
/* CSS Above For Articles */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CSS Below For The Acount Page */

#account {
  width: 35vw;
}

#toAccount,
#toEdit {
  margin-left: 5px;
  align-self: flex-start;
}
#work {
  width: 100%;
}

/* CSS Above For The Acount Page */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CSS Below For Empty Stating */
.emptyState {
  width: 60vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: center;
  color: #666666;
  /* Additional styling */
  font-weight: bold;
  margin: 20px;
  /* Example background and border styling */
  padding: 20px;
}
/* CSS Above For Empty Stating */
